@media only screen and (max-width: 768px){
	header .menu {
    	display: none;
	}
	
	header .logo, .sidebar-top {
		width: 50%;
	}

	header .sidebar-top {
    display: flex;
    justify-content: flex-end;
	}

	header .sidebar-top a {
		margin-right: 8px;
		text-align: right;
	}

	header .sidebar-top a:nth-child(1) span {
		right: -13px;
    	top: -13px;
	}

	#slide, .slider-item {
    	height:unset ;
	}

	.slider-item h2 {
    top: 32%;
    left: 6%;
    font-size: 16px;
    letter-spacing: 3px;
	}

	#best-seller {
    margin-top: 5px
	}

	ul.product-list li {
		max-width: 46%;
		margin-bottom: 8px;
		margin-right: 6px;
		text-align: center;
	}
	ul.product-list li.introduce{
		max-width: 100%;
		text-align: center;
		margin-bottom: 14px;
	}
	ul.product-list li.introduce h2 {
		font-size: 20px;
	}
	li.introduce small {
		margin-top: 1px;
	}
	ul.product-list li.introduce p {
    max-width: 100%;
    font-size: 10px;
    margin-top: 4px;
    text-align: center;
    padding-left: 10px;
}
	ul.product-list li img {
		max-width: 100%;
	}
	#shipping {
		margin-top: 5px;
	}
	#shipping ul {
		flex-wrap: wrap;
	}
	#shipping .container {
    padding: 8px;
	}

	#shipping .container li {
    width: 50%;
    margin-bottom: 5px;
	}
	#shipping ul li h2 {
		font-size: 13px;
		padding-bottom: unset;
	}
	#shipping ul li small {
		font-size: 10px;
	}
	#shipping .container li:nth-child(3) {
		margin-top: 13px;
	}
	#promotion ul {
		flex-direction: column;
		margin-bottom: unset;
	}
	#promotion ul li {
		max-width: 100%;
		padding: unset;
	}
	#featured-product .featured-product {
		margin-top: 10px;
		margin-bottom: unset;
	}
	#featured-product .container {
		margin-top: 10px;
	}
	#brand {
		flex-wrap: wrap;
	}
	#brand .discount {
		width: 100%;
	}
	#brand .discount .text h2 {
    margin-top: 16px;
    margin-bottom: 1px;
    font-size: 20px;
	}
	#brand .discount .text p {
		margin-bottom: 13px;
	}
	#brand .discount input {
		width: 225px;
	}
	#brand .discount {
		height: 164px;
	}
	#brand .brands {
		width: 100%;
		height: 172px;
	}
	#brand .brands ul {
		height: 164px;
		flex-wrap: wrap;
		justify-content: center;

	}
	#brand .brands ul li a {
		width: 100%;	
	}
	#brand .brands ul li {
		width: 25%;
		display: block;
		align-items: center; 
	}
	#brand .brands ul li:nth-child(1) a {
    background-position: 3px;
	}
	#brand .brands ul li:nth-child(2) a {
    background-position: -218px;
	}
	#brand .brands ul li:nth-child(3) a {
    background-position: -436px;
	}
	#brand .brands ul li:nth-child(4) a {
    background-position: -640px;
	}
	footer {
		width: 100%;
	}
	footer .f-left {
		display: none;
	}
	footer .f-right {
		width: 100%;
	}
	footer .f-right ul li {
		width: 20%;
	}
	footer .f-right ul a {
		width: 100%
	}
	footer .f-right ul li:nth-child(4) a {
    background-position: -172px;
	}
	footer .f-right ul li:nth-child(3) a {
    background-position: -112px;
	}
	footer .f-right ul li:nth-child(2) a {
    background-position: -53px;
	}
	footer .f-right ul li:nth-child(1) a {
    background-position: 7px;
	}
}


@media only screen and (max-width: 600px) {
	footer .f-right ul a {
		width: 65px;
	}
	#brand .brands ul li:nth-child(1) a {
    	background-position: 1px;
	}
	#brand .brands ul li:nth-child(2) a {
    	background-position: -208px;
	}
	#brand .brands ul li:nth-child(3) a {
    	background-position: -457px;
	}
	#brand .brands ul li:nth-child(4) a {
    	background-position: -676px;
	}

	#brand .brands {
		height: 266px;
	}	
	#brand .brands ul li {
			width: 40%;
}